<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<title>Traffic Violence Rapid Response | Traffic deaths are preventable and we will prevent them</title>
<meta property="og:title" content="Traffic Violence Rapid Response" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="Traffic deaths are preventable and we will prevent them" />
<meta property="og:description" content="Traffic deaths are preventable and we will prevent them" />
<link rel="canonical" href="https://oakrapidresponse.org//" />
<meta property="og:url" content="https://oakrapidresponse.org//" />
<meta property="og:site_name" content="Traffic Violence Rapid Response" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@RapidRevolt">
<meta name="twitter:creator" content="@RapidRevolt">
<meta name="twitter:title" content="Traffic Violence Rapid Response">
<meta name="twitter:description" content="Traffic deaths are preventable and we will prevent them">
<meta name="twitter:image" content="https://oakrapidresponse.org/images/groupshot1.png">

<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","description":"Traffic deaths are preventable and we will prevent them","headline":"Traffic Violence Rapid Response","name":"Traffic Violence Rapid Response","url":"https://oakrapidresponse.org//"}</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MC9L51L469"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-MC9L51L469');
</script>

<script type="text/javascript">
	window.location.replace("https://tvrr.ghost.io");
</script>

<!-- end custom head snippets -->