<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@RapidRevolt">
<meta name="twitter:creator" content="@RapidRevolt">
<meta name="twitter:title" content="Traffic Violence Rapid Response">
<meta name="twitter:description" content="Traffic deaths are preventable and we will prevent them">
<meta name="twitter:image" content="https://oakrapidresponse.org/images/groupshot1.png">

<!-- end custom head snippets -->